.flipping-card {
  perspective: 600px;
  min-height: 10px;
  display: inline-block;
  &__inner {
    display: inline-block;
    position: relative;
    transition: transform 0.7s ease;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.25);

    &_dir_up {
      transform: rotateX( 180deg );
    }
    &_dir_down {
      transform: rotateX( -180deg );
    }
    &_dir_left {
      transform: rotateY( -180deg );
    }
    &_dir_right {
      transform: rotateY( 180deg );
    }
  }
  &__face {
    float:left;
    overflow: auto;
    backface-visibility: hidden;
  }
  &__face_back {
    position: absolute;
    transform: rotateY( 180deg );
  }
  &__face_front {
  }
}